.principal {
    height: 40vh;
}

.bg-1 {
    width: 100vw;
}

.card-front {
    max-width: 300px;
    position: relative;
    bottom: 103px;
    left: 20px;
    z-index: 2;
}

.card-back {
    width: 300px;
    position: relative;
    bottom: 400px;
    left: 60px;
    z-index: 1;
}

.card-bg{
    width: 290px;
}

.card-name {
    width: 200px;
    font-size: .84em;
    font-family: var(--font);
    color: var(--white);
    position: relative;
    bottom: 64.2px;
    left: 12px;
}

.card-number {
    font-size: 1.2em;
    font-family: var(--font);
    color: var(--white);
    position: relative;
    bottom: 70px;
    left: 12px;
}

.card-expiration {
    width: 40px;
    font-size: .7em;
    font-family: var(--font);
    color: var(--white);
    position: relative;
    bottom: 50px;
    left: 245px;
}

.card-cvv-back {
    width: 35px;
    font-size: .84em;
    font-family: var(--font);
    color: var(--white);
    position: relative;
    bottom: 90px;
    left: 230px;
}